[Unit]
Description=Reddish Shift display colour temperature adjustment
Documentation=man:reddish-shift(1)
After=display-manager.service

[Service]
ExecStart=/usr/bin/reddish-shift daemon
Restart=always

[Install]
WantedBy=default.target
